@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

#App {
  width: 100%;
  height: 100%;

  header {
    width: 100%;
    img {
      width: 100%;
    }
  }
  main {
    .text-thankyou {
      font-size: 25px;
      text-align: center;
      padding: 20px 0px;
    }
    .box-form-landing {
      display: flex;
      justify-content: center;
      .form-landing {
        display: flex;
        flex-direction: column;
        width: 88%;
        height: 100%;
        padding: 0px;
        padding-top: 50px;

        h1 {
          color: #fa0f00;
          height: 100px;
        }

        .companyform {
          border-bottom: none;
          padding: 20px 0px;
        }

        form {
          display: flex;
          flex-direction: column;
          width: 100%;
          border-bottom: 1px solid #fa0f00;
          animation-name: appear;
          animation-duration: 1s;
          animation-fill-mode: forwards;
          animation-timing-function: linear;

          .form-and-extra-info {
            display: flex;
            flex-direction: column;
            gap: 35px;
            width: 100%;

            .container-form-inputs {
              display: flex;
              flex-direction: column;
              gap: 20px;
              .form-input {
                display: flex;
                justify-content: space-between;
                width: 100%;

                label {
                  font-weight: bolder;
                  font-size: 1.6em;
                }

                input,
                select {
                  font-weight: 400;
                  font-size: 1.6em;
                  width: 70%;
                  border-radius: 5px;
                  padding-left: 5px;
                  border: 1px solid #e5e5e5;
                  box-shadow: 0px 3px 5px rgba(43, 45, 48);
                  background-color: #e5e5e5;
                }

                @media screen and (max-width: 480px) {
                  label {
                    font-weight: bolder;
                    font-size: 1em;
                  }

                  input,
                  select,
                  option {
                    font-weight: 400;
                    font-size: 0.8em;
                    width: 50%;
                    border-radius: 5px;
                    padding-left: 5px;
                    border: 1px solid #e5e5e5;
                    box-shadow: 0px 3px 5px rgba(43, 45, 48);
                    background-color: #e5e5e5;
                  }
                }

                input:focus,
                select:focus {
                  outline: 1px solid #fa0f00;
                  border-color: transparent;
                }
                input:hover,
                select:hover {
                  transform: scale(1.009);
                }
              }
            }
          }

          ul {
            list-style-position: inside;
            p {
              font-size: 1.6em;
              font-weight: bold;
              color: #fa0f00;
            }
            li {
              font-size: 1.1em;
            }
            .points::marker {
              color: #fa0f00;
              font-size: 1.5em;
            }

            @media screen and (max-width: 480px) {
              p {
                font-size: 1em;
                font-weight: bold;
                color: #fa0f00;
              }
              li {
                font-size: 0.6em;
              }
              .points::marker {
                color: #fa0f00;
                font-size: 0.9em;
              }
            }
          }

          .terms-and-conditions {
            display: flex;
            width: 100%;
            padding-top: 5%;
            justify-content: center;
            text-align: left;

            .mantine-InputWrapper-label {
              font-size: 25px;
            }

            .adobe-terms {
              display: flex;
              flex-direction: column;
              width: 100%;
              justify-content: center;
              gap: 30px;
            }
            .checkbox {
              display: flex;
              min-width: 200px;
              justify-content: center;
              gap: 10px;
              .checkbox-native:hover {
                transform: scale(1.009);
              }

              @media screen and (max-width: 480px) {
                label {
                  font-size: 0.6em;
                }
              }
            }
          }
          .button-and-checkbox {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-between;
            height: 100%;
            text-align: center;
            margin-bottom: 30px;
            gap: 30px;

            .contact {
              font-weight: 600;
            }
            .button-submit {
              height: 100%;
              button {
                cursor: pointer;
                color: #ffff;
                background-color: #fa0f00;
                border-color: transparent;
                font-size: 1.1em;
                border-radius: 5px;
                width: 20%;
                min-width: 66px;
                height: 30px;
                box-shadow: 0px 3px 5px rgb(39, 37, 37);
              }
              button:hover {
                box-shadow: 0px 0px 0px rgb(39, 37, 37);
                color: #fa0f00;
                border: 1px solid #fa0f00;
                background-color: #ffff;
                opacity: 0.8;
              }

              @media screen and (max-width: 480px) {
                button {
                  font-size: 0.8em;
                }
              }
            }

            .agenda {
              display: flex;
              justify-content: center;
              align-content: center;
              width: 100%;
              gap: 10px;
              .text-agenda {
                display: flex;
                flex-direction: column;
                justify-content: center;
                p {
                  cursor: pointer;
                  font-size: 1.2em;
                  font-weight: bolder;
                  text-shadow: 0px 2px 6px rgb(86, 82, 82);
                  text-align: center;
                }
              }
            }
            .agenda:hover {
              transform: scale(1.05);
            }
          }
        }

        h2 {
          padding: 40px 0px;
          text-align: center;
          color: #fa0f00;
          font-weight: bolder;
        }

        @media screen and (max-width: 480px) {
          h2 {
            font-size: 1.1em;
          }
        }
      }
    }
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 180px;
    border-top: 5px solid #fa0f00;
    background-color: #e5e5e5;
    justify-content: space-around;
    .icons {
      display: flex;
      width: 88%;
      justify-content: space-between;
      .social-networks {
        display: flex;
        gap: 10px;
        a:hover {
          opacity: 0.5;
        }
      }
    }
    .more-adobe {
      display: flex;
      width: 100%;
      justify-content: center;
      p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 15%;
        height: 40px;
        align-items: center;
      }
      .left-text-footer {
        border-right: 2px solid #a9a9a9;
      }
      .right-text-footer {
        border-left: 2px solid #a9a9a9;
      }

      a:link {
        color: black;
        text-decoration: none;
      }
      a:hover {
        color: #5783cf;
      }
      .direction {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0px 5px;
      }
    }

    @media screen and (max-width: 480px) {
      .icons {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
      }
    }
  }
}

.info-modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  p {
    text-align: center;
  }
  .cooming-soon {
    margin-bottom: 20px;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
